option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8501
    PYTHONPATH: /var/app/current
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 8501
    InstanceProtocol: HTTP

commands:
  01_install_playwright:
    command: "pip install playwright && playwright install chromium"
  02_install_playwright_deps:
    command: "playwright install-deps chromium"

